<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cyg-get"/>
  <package id="gimp"/>
  <package id="jdk8"/>
  <package id="keepass"/>
  <package id="procexp"/>
  <package id="SublimeText3"/>

  <!-- Keep specific version, pre-takedown -->
  <package id="truecrypt" version="7.1.20140621"/>
  <package id="vagrant"/>
  <package id="virtualbox"/>
  <package id="vlc"/>
</packages>
