[user]  
        name = "Alex D'Andrea"
        email = alex@dandrea.io
[color]  
        diff = auto  
        status = auto  
        branch = auto  
[apply]  
        whitespace = fix  
[core]  
        excludesfile = ~/.gitignore  
[push]
        default = simple
